body {
    background-color: #87CEEB;
    background-image: url(https://images.unsplash.com/photo-1588614959060-4d144f28b207?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3486&q=80);
    background-size: 1920px 1200px;
    background-position: center center;
    background-repeat: none;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
  
  h1 {
    font-size: 100px;
    color: #ff5c33;
    margin: 30px 0 -40px;
    text-shadow: -3px 0 white, 0 3px black, 3px 0 black, 0 -3px white;
    font-weight: bolder;
  }
  
  h2 {
    text-shadow: -2px 0 #ff5c33, 0 2px black, 2px 0 black, 0 -2px #ff5c33;
  }
  
  h3 {
    margin: -20px;
    color: #ff5c33;
    text-shadow: -2px 0 white, 0 2px black, 2px 0 black, 0 -2px white;
  }
  
  p span {
    font-size: 52px;
    color: #ff5c33;
    text-shadow: -2px 0 white, 0 2px black, 2px 0 black, 0 -2px white;
  }
  
  button {
    font-size: 32px;
    font-weight: bolder;
    padding: 6px 22px;
    margin: 8px 10px 34px ;
    background-color: #ff5c33;
    color: white;
    border: 3px solid black;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
  
  button:hover {
    background-color: #87CEEB;  
  }
  
  #lapis {
    padding: 6px 60px;
  }
  
  #papyrus {
    padding: 6px 40px;
  }
  
  .results span{
    font-size: 36px;
    font-weight: bolder;
    color: white;
    background-color: #ff5c33;
    border: 3px solid black;
    padding: 10px 22px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .scoreboard div{
    margin: 5px 20px;
    padding: 10px;
    font-size: 60px;
    text-shadow: -2px 0 #ff5c33, 0 3px black, 3px 0 black, 0 -2px #ff5c33;
  }